.container {
    background-color: goldenrod;
    height: 1000px;
    display: flex;
    justify-content: center;
    padding: 100px;
    margin: 10px;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: goldenrod;
    background-color: #121212;
    margin: 10px;
    padding: 10px;
}

.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #121212;
    color: goldenrod;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
}